* {
    margin: 0px;
}

body {
    background-color: rgb(173, 236, 233) !important;
}

#Home {
    background-color: rgb(110, 192, 218);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
}

#Conteudo {
    background-color: rgb(173, 236, 233);
    padding: 30px;
    height: 500px;
    border-radius: 20px;
}

#History {
    background-color: rgb(83, 200, 204);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 30px;
}

#Menu {
    display: flex;
    background-color: rgb(224, 255, 248);
    border-radius: 30px;
    width: 60%;
    padding: 10px 20px 10px 20px;
    height: fit-content;
    justify-content: center;
    justify-self: center;
    margin: 8px;
    text-align: center;

}

#Menu li {
    list-style: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
}

#Menu a {
    text-decoration: none;
    color: rgb(31, 30, 30);
    font-size: 25px;
}

#Cabecalho {
    background-color: rgb(176, 213, 255);
    border-radius: 30px;
    text-align: center;
    margin: 10px;
}

#Contact {
    background-color: rgb(173, 236, 233);
    color: rgb(0, 0, 0); 
    gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

#ContactIframe {
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
    height: 650px;
}

#ContactForm {
    border-radius: 20px;
    width: 350px;
    height: 350px;
}

#Conteudo {
    width: 80%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;

}

#Gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 80px; 
     justify-content: center;
    align-items: center;
    padding: 30px;
}

#foto {
    background-color: rgb(208, 248, 248);
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: auto;
    border-radius: 10%;
    border: 5px rgb(112, 194, 241) solid;
    box-shadow: rgba(46, 96, 124, 0.993) 5px 5px 10px 1px;
  }

#Logo {
    width: 50%;
    max-width: 100px;
    height: auto;

}

#Rodape {
    background-color: rgb(224, 255, 248);
    padding: 30px;
    height: fit-content;
    margin: 0;
    text-align: center;
    width: 100%;
    border-radius: 0;


}